@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400;1,500&family=Raleway:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#reload-button {
  padding: 10px 20px;
  background-color: #138065;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 6px rgb(0, 0, 0,0.2);
  border-radius: 5px;
  margin-left: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 770px ;
    box-sizing: border-box;
    border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
cursor:pointer;
}

.card img{
    width: 90%;
    margin: 20px;
    border-radius: 20px;
}

.buy-button, .jump-button {
    box-sizing: border-box;
    margin: 0px;
    width:48%;
}

.del-button, .del-all-button {
    box-sizing: border-box;
    margin: 0px;
    width:100%;
}


.search-results{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}


/* Cart */
.sidecart{
    background-color: #1380659c;
    width: 320px;
    min-width: 320px;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow:auto !important;
    right: -320px;
    z-index: 9000;
    transition: 0.2s ease;
    left: 0px;
  }
  
  @media(max-width: 400px){
    .sidecart{
      width: 100vw;
      right: -100vw;
    }
  }
  

  .card-cart{
    border-radius: 20px;
    background-color: white;
    margin: 20px;
  }

  .product-title, .product-quantity, .product-price {
    color: black;
  }

  .open-cart{
    left: 0px;
  }

  .buy-card {
    border: 2px solid red;
  }

  /* .open-cart:before{
    content: '';
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: 0px;
    pointer-events: none;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }
   */

  .products-title-val, .products-quantity-val, .products-price-val{
    font-weight: bold;
    color: black;
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    margin-left: 10px;
  }

  #products-total, #products-value{
    font-weight: bold;
    color: black;
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    margin-left: 10px;
  }

/* CLASSI POTENZIALMENTE INUTILI */

    /* .product-quantity{
    position: relative;
  } 
  
  
.sidecart-price > div{
    margin: auto;
    width: 100%;
    white-space: nowrap;
  }
   */


@media screen and (max-width:768px) {
    .search-results {
        padding: 20px;
    }
    .search-result {
        width: 45%;
    }
}

@media screen and (max-width:480px) {
    .search-result {
        width: 100%;
    }
}